<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="MarkdownFallback" value="notepad" />
      <add key="MarkdownFallbackArguments" value="{0}" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>